{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-5 mx-auto">
            <div>
                <div class="myform form ">

                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Signup</h1>
                        </div>
                    </div>

                    {# If there are any errors on the form, display them #}
                    {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
                    {% if formErrors|length %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in formErrors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {# Render the Form #}
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password) }}
                    <br>

                    <div class="col-md-12 text-center mb-3">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started Generate!</button>
                    </div>

                    <div class="col-md-12 ">
                        <div class="form-group">
                            <p class="text-center"><a href="#">Already have an account?</a></p>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
